.task {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.task input[type="checkbox"] {
  margin-right: 10px;
}

.task label {
  font-size: 1.2em;
  font-weight: bold;
}
